*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

body {
    background-color: #efe6e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 1rem; 
    background-color: #4ecdc4;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.nav__links{
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem; 
    background-color: #4ecdc4;
    text-align: center;
}

.nav__links:hover {
    box-shadow: 1px 1px 1px #0c1713;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post {
    border: .5rem solid #4ecdc4;
}

.post__content {
    margin: .5rem;
}

h2 {
    margin: .5rem;
    font-size: 1rem;
}

form {
    margin: .5rem;
}

.entities__links {
    margin: .5rem;
}

.entities__links:hover {
    text-shadow: 1px 1px 1px #0c1713;
}
    
footer {
    background-color: #0c1713;
    color: #eaf2ef;
    text-align: center;
}