<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="home.css">
   
</head>

<body>
        <nav>
                <a href="/posts/">View All Posts</a>
                <a href="/authors/">View All Authors</a>
                <a href="/categories/">View All Categories</a>
                <a href="/tags/">View All Tags</a>
            </nav>   
</body>
</html>